.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.movieDetailsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 24px;
  padding: 24px;
  justify-content: space-between;
}